<div class="row">
  <div class="col-md-4 col-md-offset-4 text-center">

    <h2>Ajouter des saisies ou des photos au produit</h2>

    <%= form_for @entry, html: {multipart: true} do |f| %>
      <div class="form-group">
          <% @now.each do |campaign|%>
            <% if !@product %>
              <% @input_campaign = campaign.campaign_number %>
              <% @arr = [@input_campaign] %>
            <% elsif campaign.campaign_number != @product %>
              <% @input_campaign = campaign.campaign_number %>
              <% @arr.push(@input_campaign) %>
            <% end %>
            <% @product = campaign.campaign_number %>
          <% end %>
        <%= f.select(:num_campaign, @arr, {}, { :class => 'form-control' }) %>
      </div>

      <div class="checkbox">
        <%= f.radio_button :kind, 'photo' %> Photo
        <%= f.radio_button :kind, 'text' %> Texte
      </div>
      <div class="form-group">
        <%= f.text_field :title, autofocus: true, class: "form-control", placeholder: "Texte de la saisie ou de la photo" %>
      </div>

      <div class="actions">
        <%= f.submit "Ajouter une saisie", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>

<div class="container">
  <table id="saisies" class="display table">
    <thead>
      <tr>
        <th>Nom de la campagne</th>
        <th>Type</th>
        <th>Texte</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @entries.each do |entry| %>
          <tr>
            <td><%= entry.num_campaign %></td>
            <td><%= entry.kind %></td>
            <td><%= entry.title %></td>
            <td><%= link_to 'Supprimer', entry_path(id: entry.id), method: :delete  %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
</div>
