<script>
  $(document).on("click", "#dash tr", function() {
    var i = 0
    var href = $(this).data("href");
    $(this).find('td').each(function(){
        i++;
        if (i == 6) {
          var product = $(this).text();
          $.ajax({url: "/campaigns/product", type: "POST", data: {"data": product}, success: function(data) {
            window.location = href;
          }});
        }
    });
  });
</script>

<Div class="container background-container">
  <!-- <h1 class="text-center">Entreprise <%= current_user.laboratory.name %></h1>
  <h1 class="text-center">LOGO</h1> -->
  <a class="btn btn-primary disabled">En cour</a>
  <%= link_to 'À venir', dashboards_campaigns_futur_path, class: "btn btn-default" %>
  <%= link_to 'Passé', dashboards_campaigns_past_path, class: "btn btn-default" %>

  <h1>Campagnes en cours</h1>

  <table id="dash" class="table-bordered display table-hover table-striped table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Produit</th>
        <th>date de début - date de fin</th>
        <th>ciblage</th>
        <th>nombre de pharmacie</th>
        <th>Numéro de campagne</th>
      </tr>
    </thead>
      <% arr = [] %>
      <% if current_user.try(:admin?) %>
        <% @campaigns.each do |campaign| %>
          <% if ((arr.include?(campaign.campaign_number) == false)) && ((campaign.start_at.today? || campaign.start_at.to_date.past?) && campaign.end_at.to_date.future?) %>
              <tr data-href= "<%= campaigns_path %>">
                <td><%= campaign.title %></td>
                <td><%= campaign.product %></td>
                <td><%= campaign.start_at.strftime("%d/%m/%Y") %> - <%= campaign.end_at.strftime("%d/%m/%Y") %></td>
                <td><%= campaign.target %></td>
                <td><%= Campaign.where(campaign_number: campaign.campaign_number).count %></td>
                <td><%= campaign.campaign_number %></td>
              </tr>
              <% arr.push(campaign.campaign_number) %>
          <% end %>
        <% end %>
      <% else %>
        <% @campaigns.each do |campaign| %>
          <% if (current_user.laboratory_id == campaign.laboratory_id) && ((arr.include?(campaign.campaign_number) == false)) && ((campaign.start_at.today? || campaign.start_at.to_date.past?) && campaign.end_at.to_date.future?) %>
              <tr data-href= "<%= campaigns_path %>">
                <td><%= campaign.title %></td>
                <td><%= campaign.product %></td>
                <td><%= campaign.start_at.strftime("%d/%m/%Y") %> - <%= campaign.end_at.strftime("%d/%m/%Y") %></td>
                <td><%= campaign.target %></td>
                <td><%= Campaign.where(campaign_number: campaign.campaign_number).count %></td>
                <td><%= campaign.campaign_number %></td>
              </tr>
              <% arr.push(campaign.campaign_number) %>
          <% end %>
        <% end %>
      <% end %>
  </table>
</Div>
