<script>
  $(document).on("click", "#campaigns tr", function() {
    console.log($(this).data("href"));
    if ($(this).data("href") != undefined) {
      window.location = $(this).data("href");
    }
  });
</script>

<div class="container background-container">

  <!-- TO DO -->
  <%= link_to(image_tag("Arrow\ left.svg", :class => "photo"), root_path) %>
  <span class="title"> <%= @campaign.title %> <%= @campaign.product %> <%= @campaign.start_at.strftime("%d/%m/%Y") %> - <%= @campaign.end_at.strftime("%d/%m/%Y") %> <%= @campaign.target %> <%= Campaign.where(campaign_number: @campaign.campaign_number).count %> </span>

  <%= link_to 'Télécharger les status', campaigns_path(format: :xlsx) %>

  <table id="campaigns" class="table-bordered display table-hover table-striped table">
    <thead>
      <tr>
        <th>Statut</th>
        <th>CIP</th>
        <th>Nom</th>
        <th>Adresse</th>
        <th>CP</th>
        <th>Ville</th>
        <th>Débug dev</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each do |campaign| %>
        <tr data-href="<%= campaign_path(campaign) %>">
          <% if campaign.statut_type === 'no data' %>
            <td><%= image_tag("bNo\ Data.svg", :class => "icon-statut") %></td>
          <% elsif campaign.statut_type === 'validate' %>
            <td><%= image_tag("dValidate.svg", :class => "icon-statut") %></td>
          <% elsif campaign.statut_type === 'pending' %>
            <td><%= image_tag("aPending.svg", :class => "icon-statut") %></td>
          <% elsif campaign.statut_type === 'rejected' %>
            <td><%= image_tag("cRejected.svg", :class => "icon-statut") %></td>
          <% end %>
          <td><%= campaign.pharmacy.cip %></td>
          <td><%= campaign.pharmacy.name %></td>
          <td><%= campaign.pharmacy.address %></td>
          <td><%= campaign.pharmacy.postal_code %></td>
          <td><%= campaign.pharmacy.city %></td>
          <td><%= campaign.product %> <%= campaign.id %></td>
          <% @save = campaign %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
