<div class="container background-container">
  <%= link_to(image_tag("Arrow\ left.svg", :class => "photo"), campaigns_path) %>
  <span class="title"> <%= @campaign.title %> <%= @campaign.product %> <%= @campaign.start_at.strftime("%d/%m/%Y") %> - <%= @campaign.end_at.strftime("%d/%m/%Y") %> <%= @campaign.target %></span>
  <div class="row">
    <div class="col-md-4">
      <div class="statut">
        <% if @campaign.statut_type === 'no data' %>
          <%= image_tag("bNo\ Data.svg", :class => "photo") %>
        <% elsif @campaign.statut_type === 'validate' %>
          <%= image_tag("dValidate.svg", :class => "photo") %>
        <% elsif @campaign.statut_type === 'pending' %>
          <%= image_tag("aPending.svg", :class => "photo") %>
        <% elsif @campaign.statut_type === 'rejected' %>
          <%= image_tag("cRejected.svg", :class => "photo") %>
        <% end %>
          <span>STATUT :</span>
          <% if @campaign.statut_type === 'no data' %>
            <span>Aucune Donnée</span>
          <% elsif @campaign.statut_type === 'validate' %>
            <span>Validé par <%= @campaign.user.first_name %> <%= @campaign.user.last_name %></span>
          <% elsif @campaign.statut_type === 'pending' %>
            <span>En attente</span>
          <% elsif @campaign.statut_type === 'rejected' %>
            <span>Rejetée par <%= @campaign.user.first_name %> <%= @campaign.user.last_name %></span>
          <% end %>
      </div>
      <div class="row">
      </br>
        <span class="info-pharma">Pharmacie <%= @campaign.pharmacy.name %></span>
        <table class="table">
          <tbody>
              <tr>
                <th>CIP</th>
                  <td><%= @campaign.pharmacy.cip %></td>
              </tr>
              <tr>
                <th>Adresse</th>
                  <td><%= @campaign.pharmacy.address %></td>
              </tr>
              <tr>
                <th>Code postal</th>
                  <td><%= @campaign.pharmacy.postal_code %></td>
              </tr>
              <tr>
                <th>city</th>
                  <td><%= @campaign.pharmacy.city %></td>
              </tr>
              <tr>
                <th>E-mail</th>
                  <td>example@example.com</td>
              </tr>
              <tr>
                <th>Téléphone</th>
                  <td><%= @campaign.pharmacy.phone_number %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <% if @campaign.statut_type == "no data" %>
      <div class="data-send col-md-offset-1 col-md-7">
          <strong>Photo(s) envoyée(s) : </strong></br>
          <p class="text-center">Aucune photo envoyée</p></br>
          <strong>Donnée(s) saisie(s) : </strong></br>
          <p class="text-center">Aucune saisie envoyée</p></br>
          <div class="col-md-offset-4 col-md-5" style="margin-bottom: 5px;">
            <%= link_to(image_tag("Arrow\ left.svg", :class => "photo-home"), "campaign_path(@campaign - 1)") %>
            <button class="btn btn-success disabled">Accepter</button>
            <button class="btn btn-danger disabled">Rejeter</button>
            <%= link_to(image_tag("Arrow\ right.svg", :class => "photo-home"), "../") %>
          </div>
      </div>
    <% else %>
      <div class="data-send col-md-offset-1 col-md-7">
        <strong>Photo(s) envoyée(s) : </strong></br>
          <% @entries.each do |entry| %>
            <% if entry.kind === 'photo' %>
              <span><%= entry.title %> :</span>
              <% @images.each do |image| %>
                <% if image.entry_id === entry.id %>
                  <img class="photo-campaign" src='<%= image.image_base %>' /></br>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <strong>Donnée(s) saisie(s) : </strong></br>
          <% @entries.each do |entry| %>
            <% if entry.kind === 'text' %>
              <span><%= entry.title %> :</span>
              <% @inputs.each do |input| %>
                <% if input.entry_id === entry.id %>
                  <span> <%= input.value %></span></br>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <div class="col-md-offset-4 col-md-5" style="margin-bottom: 5px;">
          <%= link_to(image_tag("Arrow\ left.svg", :class => "photo-home"), campaign_path(@campaign)) %>
          <%= link_to 'Accepte', campaign_path(@campaign, statut: 'validate'), method: :put, class: "btn btn-success" %>
          <%= link_to 'Rejeter', campaign_path(@campaign, statut: 'rejected'), method: :put, class: "btn btn-danger" %>
          <%= link_to(image_tag("Arrow\ right.svg", :class => "photo-home"), "../") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
